<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>{{ meta.title }}</title>
  </head>
  <body>
	<h1>{{ class }}</h1>
	
	<p>{{ class.summary }}</p>
	
	<p>In File: <a href="../{{ class.file.relativeLink }}">{{ class.file.name }}</a></p>
	
	  {% if class.text %}
	  	<div class="text">
			<h3>Information</h3>
			{{ class.text|nl2br }}
		</div>
	  {% endif %}
	
    {% for method in class.methods %}
      <h2>{{ method }}</h2>
	  
	  <p>{{ method.summary }}</p>
		
	  {% if method.arguments %}
	  	<h3>Arguments</h3>
	  	<ul>
	  	{% for arg in method.arguments %}
			<li>{{ arg }}</li>
	  	{% endfor %}
      	</ul>
 	  {% endif %}

	  {% if method.text %}
	  	<div class="text">
			{{ method.text }}
		</div>
	  {% endif %}

    {% endfor %}
	
  </body>
</html>