<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>{{ meta.title }}</title>
	<script src="http://yandex.st/highlightjs/5.16/highlight.min.js"></script>
	<link rel="stylesheet" href="http://yandex.st/highlightjs/5.16/styles/sunburst.min.css">
	<script>
  	hljs.tabReplace = '    ';
  	hljs.initHighlightingOnLoad();
  	</script>
  </head>
  <body>
	<h1>{{ file }}</h1>
	
	<h2>Classes</h2>
    <ul>
    {% for class in file.classes %}
      <li><a href="{{ file.baseLinkPrefix }}{{ class.relativeLink }}.html">{{ class.name }}</a></li>
    {% endfor %}
	</ul>
	
	<h2>Functions</h2>
    <ul>
    {% for function in file.functions %}
      <li><a href="{{ file.baseLinkPrefix }}{{ function.relativeLink }}.html">{{ function.name }}</a></li>
    {% endfor %}
	</ul>
	
	<h2>Source</h2>
	
	<pre class="php">{{ file.source }}</pre>
	
  </body>
</html>