<!DOCTYPE HTML>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{ page.title }}</title>
	<script type="text/javascript" src="http://use.typekit.com/omv2lrt.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<link rel="stylesheet" type="text/css" href="/styles/layout.css">
</head>
<body>
	<div class="header-top"></div>
	<div class="header">
  		<h1>Yarrow</h1>
		<ul>
			<li><a href="http://yo.yarrowdoc.org/">Download</a></li>
			<li><a href="https://github.com/maetl/yarrow/issues">Issues</a></li>
		</ul>
	</div>
	<div class="content">
	
		{{ content }}
	
	</div>
	<div class="clear"></div>
	<div class="footer">
		<div class="col col-b">
			<p>Yarrow is hosted by <a href="http://github.com/maetl/yarrow">GitHub</a>, powered by <a href="http://pear.php.net">PEAR</a> and <a href="http://www.phpunit.de/">PHPUnit</a>, and distributed with <a href="http://www.pirum-project.org/">Pirum</a>.</p>
			<p>&copy; <a href="http://maetl.net">Mark Rickerby</a>, 2011</p>
		</div>
	</div>
  </body>
</html>